<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongyungov.kxpt.dao.TeacherMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rongyungov.kxpt.entity.Teacher">
        <id column="id" property="id" />
        <result column="teano" property="teano" />
        <result column="name" property="name" />
        <result column="password" property="password" />
        <result column="sex" property="sex" />
        <result column="depno" property="depno" />
        <result column="photo" property="photo" />
        <result column="isdeleted" property="isdeleted" />
        <result column="is_access_login" property="isAccessLogin" />
        <result column="tel" property="tel" />
        <result column="company_id" property="companyId" />
        <result column="ext1" property="ext1" />
        <result column="ext2" property="ext2" />
        <result column="ext3" property="ext3" />
        <result column="revision" property="revision" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, teano, name, password, sex, depno, photo, isdeleted, is_access_login, tel, company_id, ext1, ext2, ext3, revision, created_by, created_time, updated_by, updated_time
    </sql>

</mapper>
